<!--The content below is only a placeholder and can be replaced.-->
<p-card header="User Management Screen">
    <hr class="ul-g-12" style="color: green; border: 1px solid;">
    <div class="ul-g-12" [formGroup]="userManagementForm">
        <div class="p-grid form-margin">
            <div class="p-col-4">
                <span class="ui-float-label">
                    <input id="item-input" type="text" size="30" pInputText class="p-col-11" formControlName="item">
                    <label for="item-input">Item</label>
                </span>
                <small class="text-danger" *ngIf="submitted && userManagementForm.get('item')?.errors">
                    Please enter at least 4 letters.
                </small>
            </div>
            <div class="p-col-4">
                <span class="ui-float-label">
                    <input id="description-input" type="text" size="30" pInputText class="p-col-11"
                           formControlName="description">
                    <label for="description-input">Description</label>
                </span>
                <small class="text-danger" *ngIf="submitted && userManagementForm.get('description')?.errors">
                    Please enter at least 4 letters.
                </small>
            </div>
            <div class="p-col-4">
                <span class="ui-float-label">
                    <input id="formulation-input" type="text" size="30" pInputText class="p-col-11"
                           formControlName="formulation">
                    <label for="formulation-input">Formulation</label>
                </span>
                <small class="text-danger" *ngIf="submitted && userManagementForm.get('formulation')?.errors">
                    Please select office
                </small>
            </div>
        </div>
        <div class="p-grid form-margin">
            <div class="p-col-4">
                <span class="ui-float-label ">
                    <input id="batchNo-input" type="text" size="30" pInputText class="p-col-11"
                           formControlName="batchNo">
                    <label for="batchNo-input">Batch No</label>
                </span>
                <small class="text-danger" *ngIf="submitted && userManagementForm.get('batchNo')?.errors">
                    Please enter valid user age 0 t0 99
                </small>
            </div>
        </div>
    </div>
    <div class="p-grid form-margin">
        <div class="p-col-8">
        </div>
        <div class="p-col-4">
            <div style="float: right">
                <p-button label="SAVE" (click)="saveHandler()"></p-button>
            </div>

        </div>
    </div>
    <hr class="ul-g-12" style="color: green; border: 1px solid; margin-top: -18px;">
    <div class="ul-g-12 form-margin">
        <div class="p-grid" [formGroup]="userTableDataForm">
            <div class="p-col-4 p-offset-8">
                <div style="margin-right: 10px; float: right">
                    <p-button label="Delete" (click)="deleteHandler()"></p-button>
                </div>
                <div style="margin-right: 10px; float: right">
                    <p-button label="Edit" (click)="editHandler()"></p-button>
                </div>
            </div>
            <div class="p-col-12">
                <ag-grid-angular
                    style="width: 800px; height: 300px;"
                    class="ag-theme-balham"
                    #agGrid
                    id="userGrid"
                    [rowData]="users"
                    [rowSelection]="rowSelection"
                    (selectionChanged)="onSelectionChanged()"
                    [columnDefs]="headerDefs"
                    (gridReady)="onGridReady($event)">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</p-card>

<p-toast key="save" position="bottom-left"></p-toast>
<p-toast key="delete" position="bottom-left"></p-toast>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

